:root {
    --banner: #3498db;
    --ueberschrift: #030303;
    --text: #f28be9;
    --fliestext: #d2d2d2;
    --highlight: #121212;

    --bg-start: #eeeeee;
    --bg-projects: #ffb2eee2;
    --bg-about: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;

}

html,
body {
    min-height: 100vw;
    color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background-color: var(--bg-about);
    color: var(--highlight);

}
.logo{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--ueberschrift);
}
.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    ul{
        list-style: none;
        display: flex;
        gap: 1em;
    }
    a{
        color: var(--highlight);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.header.container {
    padding: 1em 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100vh;
    width: 100vw;

    a {
        color: var(--highlight);
        text-decoration: underline;
    }

    a:hover {
        color: var(--text);
        text-decoration: none;

    }

    ul{
        list-style: none;
        padding-left: 20px;
    }
}






.start-section {
    background-color: var(--bg-start);
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    min-width: 0;
    overflow: auto;

    h1 {
        color: var(--highlight);
        font-weight: 100;
        font-size: 4em;
    }

    h2 {
        color: var(--text);
        font-weight: 100;
        font-size: 2em;
        margin-left: 20px;}
}

.about-section {
    background-color: var(--bg-about);
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    min-width: 0;

    color: var(--text);
}

.projects-section {
    background-color: var(--bg-projects);
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    min-width: 0;
}
.projects{
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 10px;
    }
}
.explain{
    margin-top: 10px;
    font-size: 0.8em;
    color: var(--fliestext);
}

footer {
    position: absolute;
}

@media (max-width: 700px) {}

@media (max-width: 480px) {
    .start-section h1 h2 {
        font-size: 2.5em;
        flex-direction: column;
        
    }
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}